<% layout("layouts/boilerplate") %>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="row">
            <h1 class="text-center"><%=campground.title%></h1>
            <div class="col-6 offset-3">
                <form action="/campgrounds" method="post">
                    <div class="mb-3">
                        <% if (campground.images.length) { %> 
                        <img src="<%= campground.images[0].url%>" class="card-img-top" alt="...">
                        <% } %> 
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="title">주제</label>
                        <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title%>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">장소</label>
                        <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location%>" required>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">이미지 추가하기</label>
                        <input class="form-control" type="file" name="image" id="image" multiple>
                    </div>
                    <div class="mb-3">
                        <% if (campground.images.length) { %> 
                        <% campground.images.forEach((img, i) => { %>
                            <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                            <div class="form-check-inline">
                                <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                            </div>
                            <label for="image-<%=i%>">삭제하기</label>
                            <% }) %> 
                            <% } %> 
                    </div>
                    <div class="mb-3">
                        <label for="form-label" for="price">가격</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">₩</span>
                            <input type="text" class="form-control" name="campground[price]" id="price" placeholder="0" aria-label="price" aria-describedby="price-label" value="<%=campground.price%>" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">설명</label>
                        <textarea class="form-control" type="text" id="description" name="campground[description]" required><%=campground.description%></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">수정하기</button>
                    </div>
                </form>
                <a href="/campgrounds/<%=campground._id%>">뒤로가기</a>
            </div>
        </div>